.mdl-layout__header {
  display:block;
}

.mdl-layout__header .mdl-layout__drawer-button {
  position:relative;
  float:left;
  margin:0px;
  background-color:cadetblue;
  height:64px;
  width:64px;
}

.mdl-layout__header .mdl-layout__drawer-button i {
  line-height:64px;
}

.mdl-layout__tab-bar-container {
  width:95%;
  float:left;
  height:64px;
}

.mdl-layout__tab {
  height:64px;
  line-height:64px;
}

.mdl-layout__drawer .icon-bar {
  padding-left:16px;
  position:absolute;
  bottom:0;
  padding-bottom:12px;
  min-width:200px;
}

.icon-bar button {
  float:left;
}

.icon-bar .time {
  float:right;
  height:32px;
  line-height:32px;
  font-weight:700;
}

.icon-bar .time div {
  float:left;
}

.icon-timer {
  font-size:16px;
  line-height:32px;
  margin-right:5px;
  font-weight:700;
}


